#container{
    background-color: #E6E15A;
    width: 1024px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: #4B1799;
    text-align: center;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    color:#4B1799 ;
}